@import url("https://fonts.googleapis.com/css?family=Kanit:400,800");

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  letter-spacing: 3px;
  background-color: #FDE4B9;
  color: #000000;
  padding-bottom: 50px;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  align-items: center;
}

/* ========== INTRO =========== */

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
  background: #000;
  transition: 2s;
}

.introLogo {
  margin: 20px 0;
}

.logo-letter {
  font-size: 40px;
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo-letter.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-letter.fade {
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.leo {
  color: #edb23b;
}

.network {
  color: #f1592a;
}

.space {
  color: #000;
}

.introParagraph {
  font-size: 20px;
  color: rgb(70, 69, 69);
}

/* Max Container*/

.MaxContainer {
  /* border: solid #fff; */
  color: #000;
  overflow-x: hidden;
}

/* NAV BAR */

/* General styles for desktop */
.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 20px;
  transition: all 1s ease-in-out;
  z-index: 99;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav ul {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 7px 15px;
  margin: 0 20px;
  transition: color 0.5s ease-in-out, font-weight 0.5s ease-in-out;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.nav a img.nav-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.nav h1 {
  transition: all 1s ease-in-out;
}

.nav.active {
  background-color: rgb(31, 27, 27);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active .container {
  padding: 5px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

#header-img {
  height: 4rem;
  padding: 0 20px;
  transition: height 1s ease-in-out;
}

.nav.active #header-img {
  height: 3rem;
}

.title {
  margin: auto 0;
  transition: margin 1s ease-in-out;
}

.title.active {
  margin: 10px 0;
}

.nav.active .navTitle {
  height: 2px;
}

.nav.active .navNetwork {
  height: 1.5rem;
}

.LogoTitle {
  display: flex;
}

.NavNetwork {
  color: #555;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
}

.NavNetwork.active {
  line-height: 1rem;
  letter-spacing: 0.1rem;
}

/* Responsive for mobile */
@media (max-width: 768px) {
  /* Hide the logo and title */
  #header-img,
  .NavTitle {
    display: none;
  }

  /* Hide the text next to icons */
  .nav a {
    justify-content: center; /* Center the icon */
  }

  .nav a img.nav-icon {
    margin-right: 0; /* Remove margin between icon and text */
  }

  .nav a {
    font-size: 0; /* Hide the text by reducing font size to 0 */
  }

  /* Adjust the padding and layout for mobile */
  .nav .container {
    padding: 10px 0;
    justify-content: center;
  }

  /* Stack the icons vertically if needed */
  .nav ul {
    flex-direction: row;
    justify-content: space-around;
  }
}


/* ========== MAIN ========== */

.LeoFinanceNetwork {
  position: relative;
  width: 75vw;
  height: 75vh;
  margin: 15vh auto 10vh;
  overflow: hidden;
}

.LeoFinanceNetwork::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('bg_horiz.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  z-index: 0;
}

.LeoFinanceNetwork .topContainer {
  position: relative;
  z-index: 1;
  text-align: center;
}

#LeoLogo {
  margin: 150px 0 50px;
  height: 15rem;
}

.LeoFinanceNetwork h1 {
  font-size: 40px;
  text-shadow: 1px 1px 10px rgb(161, 76, 6);
  margin: 20px 0;
  color: #fff;
}

.LeoFinanceNetwork p {
  font-size: 20px;
  margin: 0 17.5%;
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}

.LeoFinanceNetwork h2 {
  font-size: 150%;
  margin: 10px 0;
  color: #000;
}

.vision {
  padding: 30px 0;
  font-weight: bold;
  font-size: 2rem;
  margin: 50px 0 0;
  color: #fff;
  line-height: 1px;
  text-shadow: 1px 1px 10px #ffc229;
}

@media (max-width: 768px) {
  .LeoFinanceNetwork::before {
    background-image: url('bg_vert.png');
  }

  .LeoFinanceNetwork {
    width: 95vw;
    height: 95vh;
  }
}

/* GRID */

.custom-grid-container {
  display: grid;
  margin-bottom: 20px !important;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 60vw;
  height: 80vh;
  margin: auto;
}

.custom-grid-item {
  text-align: center;
  overflow: hidden; 
}

.custom-grid-item img {
  width: 100%; 
  height: auto; 
  max-height: 100%;
  object-fit: contain; 
}

.custom-text {
  font-size: 16px;
  color: #333;
}

@media (max-width: 768px) {
  .custom-grid-container {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(7, auto);
    width: 90vw; 
    height: 90vh;
    margin: 0 auto;
  }
}


/* MANGA */

    .manga-container {
      margin-top: 200px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100vw;
      height: auto; 
      margin: 20px auto;
      padding: 10px;
      text-align: center;
    }
    
    .manga-image {
      width: 80vw;
      height: auto;
      max-height: 80vh;
      display: none; 
    }
  
    .manga-text {
      text-align: center; 
      margin: 0; 
    }
    

    .manga-image-16-9 {
      display: block; 
    }
    
    @media (max-width: 768px) {
      .manga-image-16-9 {
        display: none; 
      }
      .manga-image-9-16 {
        display: block;
        width: 95vw;
        height: auto;
      }
    }
    